<!DOCTYPE html>
<html lang="en">
    <body>
        <p>You created a new event: {{.Title}}</p>

        <div>
            <h3>IMPORTANT!!!</h3>
            <div>
                <span>The links you'll find in this mail are personal which means that anyone with access to these links can make changes to your race!</span>
                <br>
                <span>Don't forward this mail to any of your participants. They will all receive mails about the event when you add them</span>
            </div>
        </div>

        <p>Using the below link you can add groups and participants</p>
        <a href="https://lapio-groups.com/edit-event?token={{.Token}}">Edit event!</a>

        <p>Using the below link you can see participants and which groups they are in</p>
        <br />
        <a href="https://lapio-groups.com/show-event?token={{.Token}}">Edit event!</a>

        <p>In case you have any questions or require support you can just reply to this mail and we'll do our best to assist you :-)</p>
    </body>
</html>
