<!DOCTYPE html>
<html lang="en">
    <body>
        <p>You created a new event: {{.Title}}</p>

        <p>Using the below link you can add groups</p>
        <br />
        <a href="http://localhost:8081/edit-event?token={{.Token}}">Edit event!</a>

        <p>Using the below link you can upload a list of participants</p>
        <br />
        <a href="http://localhost:8081/edit-event?token={{.Token}}">Edit event!</a>

        <p>Using the below link you can see participants</p>
        <br />
        <a href="http://localhost:8081/show-event?token={{.Token}}">Edit event!</a>

        <p>In case you have any questions or require support you can just reply to this mail and we'll do our best to help you :-)</p>
    </body>
</html>
